

// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

$text-font: 'Serif';

body, html {
  font-family: $text-font, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}